<a href="https://colab.research.google.com/github/chethanmo/chethanmo.github.io/blob/master/ath.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pandas pandas-ta numpy matplotlib yfinance
!pip install --upgrade pandas-datareader

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Collecting pandas-ta
  Downloading pandas_ta-0.3.14b.tar.gz (115 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 115.1/115.1 KB 8.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (1.21.6)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (3.2.2)
Collecting yfinance
  Downloading yfinance-0.2.10-py2.py3-none-any.whl (59 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 59.1/59.1 KB 7.7 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (1.4.4)
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 KB 14.6 MB/s eta 0:00:00
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Collecting requests>=2.26
  Downloading requests-2.28.2-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 KB 7.6 MB/s eta 0:00:00
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (110 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 111.0/111.0 KB 15.1 MB/s eta 0:00:00
Collecting beautifulsoup4>=4.11.1
  Downloading beautifulsoup4-4.11.2-py3-none-any.whl (129 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 129.4/129.4 KB 17.3 MB/s eta 0:00:00
Collecting cryptography>=3.3.2
  Downloading cryptography-39.0.1-cp36-abi3-manylinux_2_28_x86_64.whl (4.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 63.2 MB/s eta 0:00:00
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.2)
Collecting soupsieve>1.2
  Downloading soupsieve-2.3.2.post1-py3-none-any.whl (37 kB)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Building wheels for collected packages: pandas-ta
  Building wheel for pandas-ta (setup.py) ... done
  Created wheel for pandas-ta: filename=pandas_ta-0.3.14b0-py3-none-any.whl size=218923 sha256=e740e4d813a2f85b4c95d69ba2b46cf070e9040dcf9e4d8208efbc7a30b7c09d
  Stored in directory: /root/.cache/pip/wheels/54/4a/75/06b8e63fce6f6d2c1baae5c208edb18eca128407b0c96e1153
Successfully built pandas-ta
Installing collected packages: soupsieve, requests, html5lib, frozendict, cryptography, beautifulsoup4, yfinance, pandas-ta
  Attempting uninstall: requests
    Found existing installation: requests 2.25.1
    Uninstalling requests-2.25.1:
      Successfully uninstalled requests-2.25.1
  Attempting uninstall: html5lib
    Found existing installation: html5lib 1.0.1
    Uninstalling html5lib-1.0.1:
      Successfully uninstalled html5lib-1.0.1
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
Successfully installed beautifulsoup4-4.11.2 cryptography-39.0.1 frozendict-2.3.4 html5lib-1.1 pandas-ta-0.3.14b0 requests-2.28.2 soupsieve-2.3.2.post1 yfinance-0.2.10
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.8/dist-packages (0.9.0)
Collecting pandas-datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 109.5/109.5 KB 6.9 MB/s eta 0:00:00
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.8/dist-packages (from pandas-datareader) (2.28.2)
Requirement already satisfied: lxml in /usr/local/lib/python3.8/dist-packages (from pandas-datareader) (4.9.2)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.8/dist-packages (from pandas-datareader) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.23->pandas-datareader) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.23->pandas-datareader) (1.21.6)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.19.0->pandas-datareader) (2022.12.7)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.19.0->pandas-datareader) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.19.0->pandas-datareader) (1.24.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Installing collected packages: pandas-datareader
  Attempting uninstall: pandas-datareader
    Found existing installation: pandas-datareader 0.9.0
    Uninstalling pandas-datareader-0.9.0:
      Successfully uninstalled pandas-datareader-0.9.0
Successfully installed pandas-datareader-0.10.0

In [3]:
import pandas_ta as ta
import pandas as pd
import matplotlib.pyplot as plt
import math as math
import yfinance as yf
from dateutil.relativedelta import relativedelta
from datetime import date as date

In [25]:
ticker_yahoo = yf.Ticker('HINDZINC.NS')
# ticker_yahoo.fast_info

file_path = '/content/EQUITY_L.csv'
fields = ['SYMBOL']
tickers = pd.read_csv(file_path, usecols=fields)

In [5]:
##lazy-loading dict with keys = ['currency', 'exchange', 'timezone', 'shares', 'market_cap', 'last_price', 'previous_close', 'open', 'day_high', 'day_low', 'regular_market_previous_close', 'last_volume', 'fifty_day_average', 'two_hundred_day_average', 'ten_day_average_volume', 'three_month_average_volume', 'year_high', 'year_low', 'year_change']

In [29]:
from concurrent.futures import ThreadPoolExecutor

ath_list = []
for i in range(0,len(tickers)):
  ath_list.append(tickers['SYMBOL'][i] +'.NS')

unwanted = {'INDO-RE.NS','CDSL.NS','HERIT-RE.NS','ZODIAC.NS','EMAMIPAP.NS','DIGJAMLMTD.NS','GUJRAFFIA.NS','NIRAJISPAT.NS','KALYANI.NS','ARTEMISMED.NS'}
ath_list = [e for e in ath_list if e not in unwanted]

#print (ath_list)

def get_stats(ticker):
    info = yf.Tickers(ticker).tickers[ticker].fast_info
    return ticker, info['last_price'], info['year_high'], info['two_hundred_day_average']
def paralel_func(ticker):
    with ThreadPoolExecutor(max_workers=None) as executor:
        results = list(executor.map(get_stats, ticker))
    return results

results = paralel_func(ath_list)

In [30]:
ticker_list = pd.DataFrame(results, columns=['Ticker', 'Last_price', 'ATH', 'two_EMA']) #creating the dataframe

pd.set_option('display.max_rows', None)

ticker_list = ticker_list.query('Last_price < ATH * 0.95 and Last_price > ATH * 0.9 and Last_price > two_EMA')
ticker_list.reset_index(drop=True, inplace=True)

# ticker_list.to_csv('Watchlist.csv', index=False)
ticker_list

            Ticker    Last_price           ATH       two_EMA
0        360ONE.NS   1838.800049   1960.000000   1701.202249
1       3MINDIA.NS  22995.449219  25209.000000  22206.125703
2    ABBOTINDIA.NS  20978.949219  22499.000000  19260.241035
3     AEGISCHEM.NS    362.049988    388.799988    277.581000
4       AGARIND.NS    686.150024    746.200012    594.227999
5     AKZOINDIA.NS   2222.500000   2400.000000   2044.508752
6    ANANDRATHI.NS    802.599976    862.500000    681.024500
7      ARMANFIN.NS   1610.199951   1705.000000   1326.531252
8      ASTRAZEN.NS   3271.649902   3620.000000   3100.373000
9          ATFL.NS    882.299988    969.799988    808.872999
10     ATULAUTO.NS    344.000000    368.899994    226.697000
11    AUTOAXLES.NS   2467.949951   2686.000000   1907.015502
12     AXISBANK.NS    876.000000    970.000000    787.326499
13   BAJAJ-AUTO.NS   3887.100098   4131.750000   3749.495756
14     BAJAJCON.NS    167.949997    185.399994    158.138000
15    BAJAJELEC.NS   1182.900024   1265.000000   1109.822752
16   BALKRISIND.NS   2271.800049   2450.000000   2099.952253
17   BHARATFORG.NS    865.750000    919.450012    762.731501
18   BHARTIARTL.NS    778.950012    860.549988    752.376750
19          CCL.NS    532.650024    579.400024    458.692749
20         CGCL.NS    751.799988    807.950012    721.688502
21        CLSEL.NS    144.550003    157.500000    113.045500
22      COFORGE.NS   4428.950195   4873.850098   3775.980255
23    CRAFTSMAN.NS   3424.949951   3710.949951   2799.704995
24      CSBBANK.NS    252.500000    275.100006    218.870250
25   CUMMINSIND.NS   1459.750000   1552.000000   1224.207500
26     DEEPINDS.NS    291.600006    322.000000    244.939251
27       DENORA.NS    906.549988    987.000000    742.129249
28   DYNAMATECH.NS   2651.000000   2813.550049   2203.310248
29    ENDURANCE.NS   1418.000000   1565.000000   1394.006748
30   ENGINERSIN.NS     84.449997     90.750000     69.494250
31    ESABINDIA.NS   3963.000000   4337.950195   3569.448749
32     EXIDEIND.NS    176.649994    194.199997    163.172500
33   FEDERALBNK.NS    131.250000    143.399994    115.365250
34    FINCABLES.NS    539.900024    593.900024    464.310250
35     FORCEMOT.NS   1480.199951   1603.900024   1253.754750
36    FOSECOIND.NS   1930.000000   2135.000000   1805.979498
37      GANECOS.NS    896.750000    970.950012    735.289751
38    GOYALALUM.NS    234.199997    250.000000    177.532576
39      GRAVITA.NS    505.649994    532.900024    341.395250
40    GRINDWELL.NS   2111.649902   2328.350098   1909.346245
41      HCLTECH.NS   1146.250000   1215.000000   1014.960999
42         HDFC.NS   2690.649902   2933.800049   2417.436495
43      HGINFRA.NS    658.200012    721.950012    587.013750
44   HINDUNILVR.NS   2584.800049   2741.600098   2501.711759
45       HITECH.NS    902.650024    989.650024    639.820751
46   HITECHGEAR.NS    266.100006    293.500000    218.396500
47      ICEMAKE.NS    292.850006    318.000000    201.811250
48   IDFCFIRSTB.NS     59.950001     64.300003     47.709250
49          IGL.NS    428.600006    452.000000    396.183500
50     INDHOTEL.NS    315.100006    349.000000    285.196501
51    INDIAMART.NS   4766.500000   5252.649902   4387.730253
52      INDIANB.NS    287.799988    310.000000    213.172750
53   IONEXCHANG.NS   2893.949951   3054.449951   2142.182245
54      ISMTLTD.NS     68.500000     73.900002     54.391750
55   JBCHEPHARM.NS   2024.750000   2150.000000   1828.253749
56   JINDALSTEL.NS    584.799988    622.750000    459.089748
57     JSWSTEEL.NS    729.250000    790.000000    664.422999
58    JYOTHYLAB.NS    208.949997    222.699997    181.484000
59   KARURVYSYA.NS    106.300003    116.199997     76.394500
60       KAYNES.NS    877.299988    926.950012    753.127273
61         KDDL.NS   1076.750000   1155.900024    895.805749
62     KRISHANA.NS    459.850006    488.000000    348.210500
63        L&TFH.NS     90.800003     98.300003     80.307500
64     LANDMARK.NS    620.599976    655.799988    558.504685
65           LT.NS   2149.149902   2297.649902   1872.676752
66        LUPIN.NS    764.900024    812.000000    689.398750
67       MAGNUM.NS     33.849998     36.250000     16.782250
68     MANAKSIA.NS    132.500000    144.000000     80.717750
69     MARKSANS.NS     63.650002     69.599998     52.464750
70    MAXHEALTH.NS    441.600006    482.799988    404.701001
71        MBAPL.NS    614.049988    674.950012    423.231001
72      MEDANTA.NS    454.850006    487.750000    451.739472
73     MOLDTECH.NS    205.199997    222.350006    107.592000
74       MPSLTD.NS   1020.700012   1075.000000    752.656251
75          MRF.NS  91064.546875  96000.000000  82715.656445
76         NAVA.NS    253.750000    279.000000    198.461000
77    NESTLEIND.NS  18961.449219  21050.000000  18891.828252
78         NTPC.NS    164.949997    182.949997    160.698749
79    ORIENTPPR.NS     42.349998     45.900002     33.136750
80         PGEL.NS   1135.599976   1229.900024    962.425500
81         PGHL.NS   4688.000000   5100.000000   4210.225737
82   PNBHOUSING.NS    570.450012    600.500000    406.950250
83     PNCINFRA.NS    326.250000    352.000000    268.147249
84      PRESSMN.NS     62.450001     68.500000     44.668000
85    PRICOLLTD.NS    203.199997    216.899994    163.493500
86       RADICO.NS   1160.000000   1230.000000    975.672499
87   RANEHOLDIN.NS    887.000000    977.849976    778.305001
88    RATNAMANI.NS   2217.899902   2437.000000   1842.608582
89    REDINGTON.NS    183.699997    202.300003    151.412250
90         RKEC.NS     69.500000     76.949997     47.606750
91       SAFARI.NS   1800.000000   1977.000000   1409.301747
92      SAKSOFT.NS    146.399994    155.500000    104.341700
93    SATINDLTD.NS     79.949997     84.199997     70.831250
94     SHREECEM.NS  24418.599609  26340.000000  22181.690420
95   SHRIPISTON.NS   1300.000000   1417.000000    858.879500
96      SKYGOLD.NS    300.899994    324.000000    274.788637
97   STARCEMENT.NS    113.900002    124.050003     99.421500
98    STERTOOLS.NS    368.850006    394.000000    241.834250
99   SUNDARMFIN.NS   2308.699951   2530.899902   2110.692253
100  SUNDRMFAST.NS    967.000000   1030.000000    860.785749
101     SUNFLAG.NS    136.750000    146.050003     95.220500
102   SUNPHARMA.NS   1002.950012   1072.150024    936.579249
103         TCS.NS   3526.399902   3854.100098   3273.508497
104     TECHNOE.NS    358.000000    380.000000    298.635499
105   TOUCHWOOD.NS    188.550003    202.000000     96.708500
106  TRITURBINE.NS    287.649994    309.350006    225.122000
107     UJJIVAN.NS    292.000000    313.350006    211.427000
108    UNIENTER.NS    163.500000    172.449997    131.687250
109         VBL.NS   1337.050049   1432.449951   1018.224417
110  VENUSPIPES.NS    731.049988    774.849976    549.087987
111    VESUVIUS.NS   1617.449951   1779.000000   1370.159998
112      VGUARD.NS    247.649994    274.899994    239.710500
113  VINDHYATEL.NS   1692.449951   1828.150024   1281.805752
114       VINNY.NS    257.100006    276.500000     81.680704
115        VSSL.NS    333.049988    354.000000    255.444750
116       WENDT.NS   8399.900391   9195.549805   7634.384009
117      ZENTEC.NS    205.300003    226.149994    190.367000
118   ZFCVINDIA.NS   9887.450195  10924.049805   8937.359219

In [31]:
startdate = date.today() - relativedelta(years=4)
enddate = date.today()

x = ticker_list['Ticker'].to_string(header=False,index=False).split('\n')
tickers = [','.join(ele.split()) for ele in x]

df = yf.download(tickers, start= startdate, end= enddate)

[*********************100%***********************]  119 of 119 completed

In [132]:
pd.set_option('display.max_rows', 10)

ax_df = df.copy()

df1 = pd.DataFrame()


for ticker in tickers:
  test = ta.supertrend(close=ax_df[('Close', ticker)], high=ax_df[('High', ticker)], low=ax_df[('Low', ticker)], length=10, multiplier=1)
  test1 = ta.supertrend(close=ax_df[('Close', ticker)], high=ax_df[('High', ticker)], low=ax_df[('Low', ticker)], length=11, multiplier=2)
  test2 = ta.supertrend(close=ax_df[('Close', ticker)], high=ax_df[('High', ticker)], low=ax_df[('Low', ticker)], length=12, multiplier=3)
  test3 = ta.ema(close=ax_df[('High', ticker)], length=20).to_frame('EMA200_H')
  test4 = ta.ema(close=ax_df[('Close', ticker)], length=20).to_frame('EMA200_C')
  test5 = ta.ema(close=ax_df[('Low', ticker)], length=20).to_frame('EMA200_L')
  test.columns = pd.MultiIndex.from_product([test.columns, [ticker]])
  test1.columns = pd.MultiIndex.from_product([test1.columns, [ticker]])
  test2.columns = pd.MultiIndex.from_product([test2.columns, [ticker]])
  test3.columns = pd.MultiIndex.from_product([test3.columns, [ticker]])
  test4.columns = pd.MultiIndex.from_product([test4.columns, [ticker]])
  test5.columns = pd.MultiIndex.from_product([test5.columns, [ticker]])
  df1 = pd.concat([df1, test, test1, test2, test3, test4, test5], axis=1)
  df1.sort_index()
  
ax_df = pd.concat([ax_df, df1], axis=1)
ax_df.reset_index()
ax_df = ax_df.drop(['Adj Close','Open','Low','High','Volume'], level=0, axis=1)

In [135]:
ax_df= ax_df.swaplevel(0, 1, 1).sort_index(axis=1)

In [140]:
ax_df= ax_df.tail(1)

In [163]:
import datetime

df2= pd.DataFrame()
for ticker in tickers:
  cond1 = (ax_df.loc[:,(ticker,'Close')] > ax_df.loc[:,(ticker,'EMA200_H')]).bool()
  cond2 = (ax_df.loc[:,(ticker,'SUPERTd_10_1.0')] + ax_df.loc[:,(ticker,'SUPERTd_11_2.0')] + ax_df.loc[:,(ticker,'SUPERTd_12_3.0')] == 1).bool()

  if cond1 and cond2:
    ax_df1 = ax_df.loc[:,(ticker)]
    ax_df1.columns = pd.MultiIndex.from_product([[ticker],ax_df1.columns])
    df2 = pd.concat([df2,ax_df1], axis=1)
    
#df2.to_csv('test.csv')

           AEGISCHEM.NS                                                    \
                  Close    EMA200_C    EMA200_H    EMA200_L SUPERT_10_1.0
Date
2023-02-07   364.950012  356.084269  364.929663  348.438485    373.721433

                                                                      \
           SUPERT_11_2.0 SUPERT_12_3.0 SUPERTd_10_1.0 SUPERTd_11_2.0
Date
2023-02-07    344.162467    328.873587             -1              1

                           ...     ZENTEC.NS                                \
           SUPERTd_12_3.0  ... SUPERT_12_3.0 SUPERTd_10_1.0 SUPERTd_11_2.0
Date                       ...
2023-02-07              1  ...    182.640558             -1              1

                                                                        \
           SUPERTd_12_3.0 SUPERTl_10_1.0 SUPERTl_11_2.0 SUPERTl_12_3.0
Date
2023-02-07              1            NaN      188.81672     182.640558


           SUPERTs_10_1.0 SUPERTs_11_2.0 SUPERTs_12_3.0
Date
2023-02-07     205.124297            NaN            NaN

[1 rows x 288 columns]

In [164]:
pd.set_option('display.max_rows', None)
df2 = df2.T
df2

Date                            2023-02-07
AEGISCHEM.NS  Close             364.950012
              EMA200_C          356.084269
              EMA200_H          364.929663
              EMA200_L          348.438485
              SUPERT_10_1.0     373.721433
              SUPERT_11_2.0     344.162467
              SUPERT_12_3.0     328.873587
              SUPERTd_10_1.0     -1.000000
              SUPERTd_11_2.0      1.000000
              SUPERTd_12_3.0      1.000000
              SUPERTl_10_1.0           NaN
              SUPERTl_11_2.0    344.162467
              SUPERTl_12_3.0    328.873587
              SUPERTs_10_1.0    373.721433
              SUPERTs_11_2.0           NaN
              SUPERTs_12_3.0           NaN
BAJAJ-AUTO.NS Close            3879.449951
              EMA200_C         3742.781972
              EMA200_H         3779.235269
              EMA200_L         3696.305657
              SUPERT_10_1.0    3893.056731
              SUPERT_11_2.0    3750.051113
              SUPERT_12_3.0    3673.353006
              SUPERTd_10_1.0     -1.000000
              SUPERTd_11_2.0      1.000000
              SUPERTd_12_3.0      1.000000
              SUPERTl_10_1.0           NaN
              SUPERTl_11_2.0   3750.051113
              SUPERTl_12_3.0   3673.353006
              SUPERTs_10_1.0   3893.056731
              SUPERTs_11_2.0           NaN
              SUPERTs_12_3.0           NaN
GRAVITA.NS    Close             510.149994
              EMA200_C          481.732902
              EMA200_H          493.695097
              EMA200_L          466.847918
              SUPERT_10_1.0     512.806679
              SUPERT_11_2.0     473.997837
              SUPERT_12_3.0     450.281104
              SUPERTd_10_1.0     -1.000000
              SUPERTd_11_2.0      1.000000
              SUPERTd_12_3.0      1.000000
              SUPERTl_10_1.0           NaN
              SUPERTl_11_2.0    473.997837
              SUPERTl_12_3.0    450.281104
              SUPERTs_10_1.0    512.806679
              SUPERTs_11_2.0           NaN
              SUPERTs_12_3.0           NaN
HITECHGEAR.NS Close             267.200012
              EMA200_C          257.117001
              EMA200_H          264.540354
              EMA200_L          251.182213
              SUPERT_10_1.0     252.047998
              SUPERT_11_2.0     238.281615
              SUPERT_12_3.0     271.589041
              SUPERTd_10_1.0      1.000000
              SUPERTd_11_2.0      1.000000
              SUPERTd_12_3.0     -1.000000
              SUPERTl_10_1.0    252.047998
              SUPERTl_11_2.0    238.281615
              SUPERTl_12_3.0           NaN
              SUPERTs_10_1.0           NaN
              SUPERTs_11_2.0           NaN
              SUPERTs_12_3.0    271.589041
KDDL.NS       Close            1069.000000
              EMA200_C         1045.877016
              EMA200_H         1066.952945
              EMA200_L         1030.649078
              SUPERT_10_1.0    1088.274803
              SUPERT_11_2.0    1011.918611
              SUPERT_12_3.0     973.554580
              SUPERTd_10_1.0     -1.000000
              SUPERTd_11_2.0      1.000000
              SUPERTd_12_3.0      1.000000
              SUPERTl_10_1.0           NaN
              SUPERTl_11_2.0   1011.918611
              SUPERTl_12_3.0    973.554580
              SUPERTs_10_1.0   1088.274803
              SUPERTs_11_2.0           NaN
              SUPERTs_12_3.0           NaN
KRISHANA.NS   Close             458.600006
              EMA200_C          445.116637
              EMA200_H          454.605401
              EMA200_L          435.905990
              SUPERT_10_1.0     463.096371
              SUPERT_11_2.0     431.309625
              SUPERT_12_3.0     413.665884
              SUPERTd_10_1.0     -1.000000
              SUPERTd_11_2.0      1.000000
              SUPERTd_12_3.0      1.000000
              SUPERTl_10_1.0           NaN
              SUPERTl_11_2.0    431.309625
              SUPERTl_12_3.0    413.665884
              SUPERTs_10_1.0    463.096371
              SUPERTs_11_2.0           NaN
              SUPERTs_12_3.0           NaN
MAGNUM.NS     Close              33.150002
              EMA200_C           30.655933
              EMA200_H           31.624137
              EMA200_L           29.602098
              SUPERT_10_1.0      31.774925
              SUPERT_11_2.0      29.656392
              SUPERT_12_3.0      34.774229
              SUPERTd_10_1.0      1.000000
              SUPERTd_11_2.0      1.000000
              SUPERTd_12_3.0     -1.000000
              SUPERTl_10_1.0     31.774925
              SUPERTl_11_2.0     29.656392
              SUPERTl_12_3.0           NaN
              SUPERTs_10_1.0           NaN
              SUPERTs_11_2.0           NaN
              SUPERTs_12_3.0     34.774229
MRF.NS        Close           91739.851562
              EMA200_C        90905.798807
              EMA200_H        91682.865814
              EMA200_L        89979.038749
              SUPERT_10_1.0   90943.024691
              SUPERT_11_2.0   89155.366847
              SUPERT_12_3.0   93580.582912
              SUPERTd_10_1.0      1.000000
              SUPERTd_11_2.0      1.000000
              SUPERTd_12_3.0     -1.000000
              SUPERTl_10_1.0  90943.024691
              SUPERTl_11_2.0  89155.366847
              SUPERTl_12_3.0           NaN
              SUPERTs_10_1.0           NaN
              SUPERTs_11_2.0           NaN
              SUPERTs_12_3.0  93580.582912
NAVA.NS       Close             250.050003
              EMA200_C          236.078856
              EMA200_H          243.196487
              EMA200_L          229.205962
              SUPERT_10_1.0     237.212296
              SUPERT_11_2.0     223.372169
              SUPERT_12_3.0     252.745625
              SUPERTd_10_1.0      1.000000
              SUPERTd_11_2.0      1.000000
              SUPERTd_12_3.0     -1.000000
              SUPERTl_10_1.0    237.212296
              SUPERTl_11_2.0    223.372169
              SUPERTl_12_3.0           NaN
              SUPERTs_10_1.0           NaN
              SUPERTs_11_2.0           NaN
              SUPERTs_12_3.0    252.745625
PRESSMN.NS    Close              62.150002
              EMA200_C           59.907126
              EMA200_H           61.750041
              EMA200_L           58.357128
              SUPERT_10_1.0      64.077889
              SUPERT_11_2.0      59.932722
              SUPERT_12_3.0      56.946724
              SUPERTd_10_1.0     -1.000000
              SUPERTd_11_2.0      1.000000
              SUPERTd_12_3.0      1.000000
              SUPERTl_10_1.0           NaN
              SUPERTl_11_2.0     59.932722
              SUPERTl_12_3.0     56.946724
              SUPERTs_10_1.0     64.077889
              SUPERTs_11_2.0           NaN
              SUPERTs_12_3.0           NaN
RATNAMANI.NS  Close            2208.699951
              EMA200_C         2113.709839
              EMA200_H         2159.657276
              EMA200_L         2063.476624
              SUPERT_10_1.0    2349.899781
              SUPERT_11_2.0    2161.726836
              SUPERT_12_3.0    2078.665938
              SUPERTd_10_1.0     -1.000000
              SUPERTd_11_2.0      1.000000
              SUPERTd_12_3.0      1.000000
              SUPERTl_10_1.0           NaN
              SUPERTl_11_2.0   2161.726836
              SUPERTl_12_3.0   2078.665938
              SUPERTs_10_1.0   2349.899781
              SUPERTs_11_2.0           NaN
              SUPERTs_12_3.0           NaN
RKEC.NS       Close              72.449997
              EMA200_C           65.177313
              EMA200_H           67.435432
              EMA200_L           63.115123
              SUPERT_10_1.0      67.833281
              SUPERT_11_2.0      73.769727
              SUPERT_12_3.0      60.425546
              SUPERTd_10_1.0      1.000000
              SUPERTd_11_2.0     -1.000000
              SUPERTd_12_3.0      1.000000
              SUPERTl_10_1.0     67.833281
              SUPERTl_11_2.0           NaN
              SUPERTl_12_3.0     60.425546
              SUPERTs_10_1.0           NaN
              SUPERTs_11_2.0     73.769727
              SUPERTs_12_3.0           NaN
SATINDLTD.NS  Close              80.400002
              EMA200_C           76.834962
              EMA200_H           79.792908
              EMA200_L           74.471207
              SUPERT_10_1.0      81.303999
              SUPERT_11_2.0      73.896884
              SUPERT_12_3.0      69.688915
              SUPERTd_10_1.0     -1.000000
              SUPERTd_11_2.0      1.000000
              SUPERTd_12_3.0      1.000000
              SUPERTl_10_1.0           NaN
              SUPERTl_11_2.0     73.896884
              SUPERTl_12_3.0     69.688915
              SUPERTs_10_1.0     81.303999
              SUPERTs_11_2.0           NaN
              SUPERTs_12_3.0           NaN
SUNDARMFIN.NS Close            2321.699951
              EMA200_C         2293.504784
              EMA200_H         2312.899862
              EMA200_L         2271.091044
              SUPERT_10_1.0    2270.911787
              SUPERT_11_2.0    2335.774269
              SUPERT_12_3.0    2203.449473
              SUPERTd_10_1.0      1.000000
              SUPERTd_11_2.0     -1.000000
              SUPERTd_12_3.0      1.000000
              SUPERTl_10_1.0   2270.911787
              SUPERTl_11_2.0           NaN
              SUPERTl_12_3.0   2203.449473
              SUPERTs_10_1.0           NaN
              SUPERTs_11_2.0   2335.774269
              SUPERTs_12_3.0           NaN
TOUCHWOOD.NS  Close             179.600006
              EMA200_C          157.392779
              EMA200_H          159.473027
              EMA200_L          154.162394
              SUPERT_10_1.0     169.054228
              SUPERT_11_2.0     160.470593
              SUPERT_12_3.0     183.511633
              SUPERTd_10_1.0      1.000000
              SUPERTd_11_2.0      1.000000
              SUPERTd_12_3.0     -1.000000
              SUPERTl_10_1.0    169.054228
              SUPERTl_11_2.0    160.470593
              SUPERTl_12_3.0           NaN
              SUPERTs_10_1.0           NaN
              SUPERTs_11_2.0           NaN
              SUPERTs_12_3.0    183.511633
VINNY.NS      Close             244.899994
              EMA200_C          221.434385
              EMA200_H          225.517767
              EMA200_L          213.596518
              SUPERT_10_1.0     264.574153
              SUPERT_11_2.0     238.190979
              SUPERT_12_3.0     225.550904
              SUPERTd_10_1.0     -1.000000
              SUPERTd_11_2.0      1.000000
              SUPERTd_12_3.0      1.000000
              SUPERTl_10_1.0           NaN
              SUPERTl_11_2.0    238.190979
              SUPERTl_12_3.0    225.550904
              SUPERTs_10_1.0    264.574153
              SUPERTs_11_2.0           NaN
              SUPERTs_12_3.0           NaN
WENDT.NS      Close            8339.900391
              EMA200_C         8020.246858
              EMA200_H         8124.918221
              EMA200_L         7894.268616
              SUPERT_10_1.0    7920.378355
              SUPERT_11_2.0    8443.761999
              SUPERT_12_3.0    7818.247704
              SUPERTd_10_1.0      1.000000
              SUPERTd_11_2.0     -1.000000
              SUPERTd_12_3.0      1.000000
              SUPERTl_10_1.0   7920.378355
              SUPERTl_11_2.0           NaN
              SUPERTl_12_3.0   7818.247704
              SUPERTs_10_1.0           NaN
              SUPERTs_11_2.0   8443.761999
              SUPERTs_12_3.0           NaN
ZENTEC.NS     Close             201.300003
              EMA200_C          195.984089
              EMA200_H          200.374144
              EMA200_L          193.431927
              SUPERT_10_1.0     205.124297
              SUPERT_11_2.0     188.816720
              SUPERT_12_3.0     182.640558
              SUPERTd_10_1.0     -1.000000
              SUPERTd_11_2.0      1.000000
              SUPERTd_12_3.0      1.000000
              SUPERTl_10_1.0           NaN
              SUPERTl_11_2.0    188.816720
              SUPERTl_12_3.0    182.640558
              SUPERTs_10_1.0    205.124297
              SUPERTs_11_2.0           NaN
              SUPERTs_12_3.0           NaN