<a href="https://colab.research.google.com/github/chethanmo/chethanmo.github.io/blob/master/ath.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pandas pandas-ta numpy matplotlib yfinance
!pip install --upgrade pandas-datareader

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Collecting pandas-ta
  Downloading pandas_ta-0.3.14b.tar.gz (115 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 115.1/115.1 KB 3.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (1.21.6)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (3.2.2)
Collecting yfinance
  Downloading yfinance-0.2.9-py2.py3-none-any.whl (55 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 55.9/55.9 KB 5.4 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.2)
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 KB 10.5 MB/s eta 0:00:00
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Collecting cryptography>=3.3.2
  Downloading cryptography-39.0.0-cp36-abi3-manylinux_2_28_x86_64.whl (4.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 51.2 MB/s eta 0:00:00
Collecting requests>=2.26
  Downloading requests-2.28.2-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 KB 6.3 MB/s eta 0:00:00
Collecting beautifulsoup4>=4.11.1
  Downloading beautifulsoup4-4.11.2-py3-none-any.whl (129 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 129.4/129.4 KB 13.2 MB/s eta 0:00:00
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (110 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 111.0/111.0 KB 10.4 MB/s eta 0:00:00
Collecting soupsieve>1.2
  Downloading soupsieve-2.3.2.post1-py3-none-any.whl (37 kB)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Building wheels for collected packages: pandas-ta
  Building wheel for pandas-ta (setup.py) ... done
  Created wheel for pandas-ta: filename=pandas_ta-0.3.14b0-py3-none-any.whl size=218923 sha256=d6fd7144525a11e0b6484ddfb5f8ffcea408bb7407e981517def1f65b4db24e0
  Stored in directory: /root/.cache/pip/wheels/54/4a/75/06b8e63fce6f6d2c1baae5c208edb18eca128407b0c96e1153
Successfully built pandas-ta
Installing collected packages: soupsieve, requests, html5lib, frozendict, cryptography, beautifulsoup4, yfinance, pandas-ta
  Attempting uninstall: requests
    Found existing installation: requests 2.25.1
    Uninstalling requests-2.25.1:
      Successfully uninstalled requests-2.25.1
  Attempting uninstall: html5lib
    Found existing installation: html5lib 1.0.1
    Uninstalling html5lib-1.0.1:
      Successfully uninstalled html5lib-1.0.1
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
Successfully installed beautifulsoup4-4.11.2 cryptography-39.0.0 frozendict-2.3.4 html5lib-1.1 pandas-ta-0.3.14b0 requests-2.28.2 soupsieve-2.3.2.post1 yfinance-0.2.9
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.8/dist-packages (0.9.0)
Collecting pandas-datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 109.5/109.5 KB 4.1 MB/s eta 0:00:00
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.8/dist-packages (from pandas-datareader) (2.28.2)
Requirement already satisfied: lxml in /usr/local/lib/python3.8/dist-packages (from pandas-datareader) (4.9.2)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.8/dist-packages (from pandas-datareader) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.23->pandas-datareader) (2022.7.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.23->pandas-datareader) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.19.0->pandas-datareader) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.19.0->pandas-datareader) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.19.0->pandas-datareader) (1.24.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Installing collected packages: pandas-datareader
  Attempting uninstall: pandas-datareader
    Found existing installation: pandas-datareader 0.9.0
    Uninstalling pandas-datareader-0.9.0:
      Successfully uninstalled pandas-datareader-0.9.0
Successfully installed pandas-datareader-0.10.0

In [2]:
import pandas_ta as ta
import pandas as pd
import matplotlib.pyplot as plt
import math as math
import yfinance as yf
from dateutil.relativedelta import relativedelta
from datetime import date as date

In [3]:
# enddate = date.today()
# startdate = enddate - relativedelta(years=4)

# df = yf.download('HINDZINC.NS', start=startdate, end=enddate)

In [4]:
#ticker_yahoo = yf.Ticker('HINDZINC.NS')
# last_quote = ticker_yahoo.fast_info['last_price']
# MA200 = ticker_yahoo.fast_info['two_hundred_day_average']
# ticker_yahoo.fast_info

file_path = '/content/EQUITY_L.csv'
fields = ['SYMBOL']
tickers = pd.read_csv(file_path, usecols=fields)
#print(tickers)

In [5]:
##lazy-loading dict with keys = ['currency', 'exchange', 'timezone', 'shares', 'market_cap', 'last_price', 'previous_close', 'open', 'day_high', 'day_low', 'regular_market_previous_close', 'last_volume', 'fifty_day_average', 'two_hundred_day_average', 'ten_day_average_volume', 'three_month_average_volume', 'year_high', 'year_low', 'year_change']

In [6]:
from concurrent.futures import ThreadPoolExecutor

ath_list = []
for i in range(0,len(tickers)):
  ath_list.append(tickers['SYMBOL'][i] +'.NS')
  


def get_stats(ticker):
    info = yf.Tickers(ticker).tickers[ticker].fast_info
    #print(f"{ticker} {info['last_price']} {info['year_high']}")
    return ticker, info['last_price'], info['year_high'], info['two_hundred_day_average']
def paralel_func(ticker):
    with ThreadPoolExecutor(max_workers=None) as executor:
        results = list(executor.map(get_stats, ath_list))
    return results

results = paralel_func(ath_list)

In [85]:
ticker_list = pd.DataFrame(results, columns=['Ticker', 'Last_price', 'ATH', 'two_EMA']) #creating the dataframe

pd.set_option('display.max_rows', None)
#ticker_list = ticker_list.loc[(ticker_list['Last_price'] < ticker_list['ATH'] * 0.95) & (ticker_list['Last_price'] > ticker_list['ATH'] * 0.9) & (ticker_list['Last_price'] > ticker_list['two_EMA'])]

ticker_list = ticker_list.query('Last_price < ATH * 0.95 and Last_price > ATH * 0.9 and Last_price > two_EMA')
ticker_list.reset_index(drop=True, inplace=True)

#ticker_list.to_csv('Watchlist.csv', index=False)
ticker_list

            Ticker    Last_price           ATH       two_EMA
0    ABBOTINDIA.NS  20749.500000  22499.000000  19222.295283
1           ACE.NS    334.049988    354.700012    266.831499
2     AEGISCHEM.NS    365.000000    388.799988    276.333500
3       AGARIND.NS    672.000000    746.200012    593.671499
4     AKZOINDIA.NS   2200.000000   2400.000000   2041.203253
5    AMARAJABAT.NS    606.349976    668.150024    537.312750
6    ANANDRATHI.NS    781.750000    862.500000    679.648501
7      APARINDS.NS   1928.000000   2047.949951   1241.254999
8       APTECHT.NS    365.700012    388.700012    283.411500
9      ASHOKLEY.NS    153.000000    169.449997    144.855750
10     ASTRAZEN.NS   3287.149902   3620.000000   3095.267002
11         ATFL.NS    880.750000    969.799988    808.561749
12     ATULAUTO.NS    343.450012    368.899994    225.234500
13     AXISBANK.NS    891.900024    970.000000    786.500249
14        AXITA.NS     59.900002     64.000000     36.757962
15   BAJAJ-AUTO.NS   3831.399902   4131.750000   3747.968506
16     BAJAJCON.NS    168.350006    185.399994    158.189000
17    BAJAJELEC.NS   1162.300049   1265.000000   1108.979252
18   BALKRISIND.NS   2270.000000   2450.000000   2098.368753
19   BHARATFORG.NS    871.450012    919.450012    761.371750
20   BHARTIARTL.NS    786.799988    860.549988    751.876500
21         CERA.NS   5657.399902   6076.600098   4902.104757
22         CGCL.NS    751.799988    807.950012    721.895752
23     CHOLAFIN.NS    767.650024    817.750000    711.082748
24    CRAFTSMAN.NS   3340.000000   3710.949951   2788.401244
25      CSBBANK.NS    249.699997    275.100006    218.552750
26   CUMMINSIND.NS   1446.550049   1552.000000   1220.707250
27       CYIENT.NS    919.150024    969.700012    811.056750
28    DALBHARAT.NS   1874.949951   2015.000000   1591.649749
29     DEEPINDS.NS    301.200012    322.000000    244.640501
30      DRREDDY.NS   4316.149902   4645.000000   4294.378749
31         DYCL.NS    207.550003    225.000000    172.128626
32       ECLERX.NS   1534.849976   1702.566650   1409.118004
33    ENDURANCE.NS   1462.000000   1599.949951   1391.557999
34   ENGINERSIN.NS     82.250000     90.750000     69.370250
35     EXIDEIND.NS    179.899994    194.199997    162.927000
36   FEDERALBNK.NS    133.850006    143.399994    115.009250
37    FINCABLES.NS    555.000000    593.900024    463.010750
38      FINPIPE.NS    176.750000    195.000000    151.715750
39      FOODSIN.NS    138.750000    153.000000     93.836250
40     FORCEMOT.NS   1457.949951   1603.900024   1250.329250
41    FOSECOIND.NS   1965.000000   2135.000000   1801.691497
42      GANECOS.NS    891.549988    970.950012    733.593001
43     GANESHBE.NS    144.050003    155.750000    132.406750
44      GRAVITA.NS    484.350006    532.900024    339.422000
45      HCLTECH.NS   1138.250000   1215.000000   1014.534249
46         HDFC.NS   2694.350098   2933.800049   2412.678995
47      HGINFRA.NS    681.000000    721.950012    586.737000
48       HITECH.NS    894.549988    989.650024    637.004250
49   IDFCFIRSTB.NS     59.549999     64.300003     47.515750
50          IGL.NS    416.399994    452.000000    395.737500
51         IIFL.NS    505.799988    538.000000    383.118250
52     INDHOTEL.NS    315.350006    349.000000    284.449501
53       INDIGO.NS   2108.750000   2282.100098   1865.905001
54   IONEXCHANG.NS   2792.449951   3054.449951   2130.603246
55   IRISDOREME.NS    301.750000    324.000000    225.564500
56      ISMTLTD.NS     68.300003     72.500000     54.360000
57         JASH.NS    857.950012    911.900024    747.253499
58   JINDALSTEL.NS    572.950012    622.750000    458.942748
59     JSWSTEEL.NS    720.000000    790.000000    664.662499
60   KAMATHOTEL.NS    127.599998    135.000000     84.964250
61   KARURVYSYA.NS    106.400002    116.199997     75.824250
62         KDDL.NS   1058.199951   1155.900024    895.527749
63    KIRLOSIND.NS   1995.050049   2169.000000   1647.436502
64        KOVAI.NS   1740.050049   1845.550049   1571.983754
65     KRISHANA.NS    458.350006    488.000000    346.853251
66     LANDMARK.NS    620.000000    655.799988    553.938331
67         LINC.NS    481.600006    509.149994    313.852250
68           LT.NS   2174.800049   2297.649902   1868.100251
69       MAGNUM.NS     32.849998     36.250000     16.603250
70     MANAKSIA.NS    132.800003    144.000000     80.221250
71     MARKSANS.NS     62.849998     69.599998     52.390500
72       MARUTI.NS   8855.000000   9769.000000   8523.748479
73    MAXHEALTH.NS    438.750000    482.799988    404.452751
74        MBAPL.NS    625.000000    674.950012    419.226001
75          MGL.NS    863.700012    925.000000    824.985000
76   NORBTEAEXP.NS     14.000000     15.500000      7.161750
77         NTPC.NS    165.350006    182.949997    160.658249
78    ORIENTPPR.NS     43.500000     45.900002     33.061250
79         PGHL.NS   4591.000000   5100.000000   4205.923489
80   PNBHOUSING.NS    546.849976    600.500000    405.415750
81    PRICOLLTD.NS    196.300003    216.899994    162.930250
82   RANEHOLDIN.NS    891.900024    977.849976    775.855751
83    REDINGTON.NS    185.699997    202.300003    151.149250
84         RKEC.NS     69.800003     76.949997     47.404250
85       SAFARI.NS   1783.550049   1977.000000   1401.040747
86      SAKSOFT.NS    144.550003    155.500000    103.748350
87   SANGHVIMOV.NS    337.600006    358.000000    249.075000
88     SHREECEM.NS  24159.750000  26340.000000  22198.626426
89      SKYGOLD.NS    291.700012    324.000000    272.240001
90   SONATSOFTW.NS    613.250000    656.062500    535.710249
91   STARCEMENT.NS    114.449997    124.050003     99.222250
92    STERTOOLS.NS    355.850006    394.000000    239.832000
93   SUNDARMFIN.NS   2314.949951   2530.899902   2107.917252
94   SUNDRMFAST.NS    974.599976   1030.000000    859.479749
95      SUNFLAG.NS    131.750000    146.050003     95.145750
96    SUNPHARMA.NS   1018.000000   1072.150024    935.768499
97      TECHNOE.NS    344.049988    380.000000    298.041999
98      UJJIVAN.NS    292.600006    313.350006    210.003250
99     UNIENTER.NS    138.500000    153.399994    131.356250
100  UNIVCABLES.NS    336.649994    371.000000    218.092749
101  VENUSPIPES.NS    732.099976    774.849976    547.004236
102    VESUVIUS.NS   1617.550049   1779.000000   1364.427749
103       VINNY.NS    258.500000    276.500000     79.803454

In [86]:
startdate = date.today() - relativedelta(years=4)
enddate = date.today()

x = ticker_list['Ticker'].to_string(header=False,index=False).split('\n')
tickers = [','.join(ele.split()) for ele in x]
#tickers
df = yf.download(tickers, start= startdate, end= enddate)

[*********************100%***********************]  104 of 104 completed

In [87]:
# df.ta.supertrend(high='High', low='Low', close='Close', length=10, multiplier=1, append=True)
# df.to_csv('data1.csv')
df.columns
#help(ta.supertrend)

MultiIndex([('Adj Close', 'ABBOTINDIA.NS'),
            ('Adj Close',        'ACE.NS'),
            ('Adj Close',  'AEGISCHEM.NS'),
            ('Adj Close',    'AGARIND.NS'),
            ('Adj Close',  'AKZOINDIA.NS'),
            ('Adj Close', 'AMARAJABAT.NS'),
            ('Adj Close', 'ANANDRATHI.NS'),
            ('Adj Close',   'APARINDS.NS'),
            ('Adj Close',    'APTECHT.NS'),
            ('Adj Close',   'ASHOKLEY.NS'),
            ...
            (   'Volume', 'SUNDRMFAST.NS'),
            (   'Volume',    'SUNFLAG.NS'),
            (   'Volume',  'SUNPHARMA.NS'),
            (   'Volume',    'TECHNOE.NS'),
            (   'Volume',    'UJJIVAN.NS'),
            (   'Volume',   'UNIENTER.NS'),
            (   'Volume', 'UNIVCABLES.NS'),
            (   'Volume', 'VENUSPIPES.NS'),
            (   'Volume',   'VESUVIUS.NS'),
            (   'Volume',      'VINNY.NS')],
           length=624)

In [127]:
pd.set_option('display.max_rows', 10)

ax_df = df.copy()

df1 = pd.DataFrame()


for ticker in tickers:
  test = ta.supertrend(close=ax_df[('Close', ticker)], high=ax_df[('High', ticker)], low=ax_df[('Low', ticker)], length=10, multiplier=1)
  test1 = ta.supertrend(close=ax_df[('Close', ticker)], high=ax_df[('High', ticker)], low=ax_df[('Low', ticker)], length=11, multiplier=2)
  test2 = ta.supertrend(close=ax_df[('Close', ticker)], high=ax_df[('High', ticker)], low=ax_df[('Low', ticker)], length=12, multiplier=3)
  test3 = ta.ema(close=ax_df[('Close', ticker)], length=20).to_frame()
  test4 = ta.ema(close=ax_df[('High', ticker)], length=20).to_frame()
  test5 = ta.ema(close=ax_df[('Low', ticker)], length=20).to_frame()
  test.columns = pd.MultiIndex.from_product([test.columns, [ticker]])
  test1.columns = pd.MultiIndex.from_product([test1.columns, [ticker]])
  test2.columns = pd.MultiIndex.from_product([test2.columns, [ticker]])
  test3.columns = pd.MultiIndex.from_product([test3.columns, [ticker]])
  test4.columns = pd.MultiIndex.from_product([test4.columns, [ticker]])
  test5.columns = pd.MultiIndex.from_product([test5.columns, [ticker]])
  df1 = pd.concat([df1, test, test1, test2, test3, test4, test5], axis=1)
  df1.sort_index()
  
ax_df = pd.concat([ax_df, df1], axis=1)
ax_df.reset_index()
ax_df = ax_df.drop(['Adj Close','Open','Low','High','Volume'], level=0, axis=1)

/usr/local/lib/python3.8/dist-packages/IPython/core/async_helpers.py:68: PerformanceWarning: indexing past lexsort depth may impact performance.
  coro.send(None)

In [128]:
ax_df.tail(2)

                                  Close                                       \
                          ABBOTINDIA.NS      ACE.NS AEGISCHEM.NS  AGARIND.NS
Date
2023-02-02 00:00:00+05:30  20480.300781  331.399994   358.649994  635.849976
2023-02-03 00:00:00+05:30  20872.250000  329.549988   367.200012  641.250000

                                                                    \
                          AKZOINDIA.NS AMARAJABAT.NS ANANDRATHI.NS
Date
2023-02-02 00:00:00+05:30  2213.899902    615.549988    762.900024
2023-02-03 00:00:00+05:30  2210.300049    605.049988    763.150024

                                                                ...  \
                           APARINDS.NS  APTECHT.NS ASHOKLEY.NS  ...
Date                                                            ...
2023-02-02 00:00:00+05:30  2015.949951  357.899994  152.050003  ...
2023-02-03 00:00:00+05:30  1931.099976  362.500000  153.899994  ...

                          SUPERTd_11_2.0 SUPERTl_11_2.0 SUPERTs_11_2.0  \
                                VINNY.NS       VINNY.NS       VINNY.NS
Date
2023-02-02 00:00:00+05:30              1     233.360073            NaN
2023-02-03 00:00:00+05:30              1     238.190979            NaN

                          SUPERT_12_3.0 SUPERTd_12_3.0 SUPERTl_12_3.0  \
                               VINNY.NS       VINNY.NS       VINNY.NS
Date
2023-02-02 00:00:00+05:30    221.439619              1     221.439619
2023-02-03 00:00:00+05:30    225.550904              1     225.550904

                          SUPERTs_12_3.0      EMA_20
                                VINNY.NS    VINNY.NS    VINNY.NS    VINNY.NS
Date
2023-02-02 00:00:00+05:30            NaN  209.058629  210.977903  200.282338
2023-02-03 00:00:00+05:30            NaN  214.881618  217.218103  205.417353

[2 rows x 1664 columns]